body {
    font-family: Arial;
    background-color: #f5f5f5;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: green;
    color: white;
    border: none;
    margin-top: 15px;
}
